@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:wght@700&display=swap');

body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 20px;
    background: #f4f4f4;
    text-align: center;
}

h1 {
    font-size: 60px;
    margin-bottom: 40px;
}
.verse {
    font-family: Thin;
    font-size: 21px;
    margin-bottom: 90px;
}

.card-content .description {
    font-family: Thin;
    font-size: 17px;
    margin: 10px 0;
}

.menu-title {
    font-size: 40px;
    margin-bottom: 40px;
}

.menu-title .script {
    font-family: 'Great Vibes', cursive;
    font-size: 48px;
}

#menuGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 500px;
    margin: auto;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 15px;
}

.card-content h2 {
    margin: 0;
    font-size: 22px;
}

.click-instruction {
    color: #555;
    font-size: 6px;
}

.recipe {
    font-family: Thin;
    display: none;
    padding: 15px;
    border-top: 1px solid #ddd;
    background: #fafafa;
    font-size: 16px;
    text-align: center;
}

.card.open .recipe {
    display: block;
}
